<div class="SignUp">
    <h2 mat-dialog-title>Signup</h2>
    <mat-dialog-content class="mat-typography">
        <form class="example-form">


          <mat-form-field class="example-full-width">
            <input matInput type="email"  (input)="LoginForm()" placeholder="Email" [formControl]="email" required >
            <mat-error *ngIf="email.invalid">{{GetEmailErrorMessage()}}</mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width">
              <input matInput [type]="hide ? 'password' : 'text'" (input)="LoginForm()" placeholder="Password"  [formControl]="password" required>
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              <mat-error *ngIf="email.invalid">{{GetPasswordErrorMessage()}}</mat-error>
            </mat-form-field>

          </form>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>Cancel</button>
      <button mat-button [mat-dialog-close]="data" cdkFocusInitial [disabled]="Validate">Submit</button>
    </mat-dialog-actions>
    </div>
